<html>
    <head>
        <title>Search User</title>
        <style>
        .character-display {
            background: #633;
            display: flex;
            justify-content: space-between;
            background-repeat: no-repeat;
            max-width: 474px;
        }
        .character-icon {
            background: #663;
            width: 96px;
            height: 96px;
            flex: 1;
        }
        .character-info {
            flex: 4;
            color: #FFF;
            font-size: 20;
        }
        .character-levels {
            width: 96px;
            height: 96px;
            flex: 1;

            display: flex;
            display: -webkit-flex;

            flex-direction: column;
            -webkit-flex-direction: column;

            justify-content: center;
            align-content: center;
            font-weight: bold;
        }
        .character-level {
            color: #FFF;
            font-size: 40;
            align-self: center;
            margin: auto;
        }
        .light-level {
            color: #FF0;
            font-size: 20;
            align-self: center;
            margin: auto;
        }
        </style>
    </head>
    <body>
        <h1>Search User</h1>
        <div>
            <img src="http://www.bungie.net{{ .iconPath }}">
            {{ .displayName }}
        </div>
        <div>
            {{ range $i, $e := .chars }}
                <div class="character-display" style="background-image: url(http://www.bungie.net{{ $e.BackgroundPath }})">
                    <div class="character-icon">
                        <img src="http://www.bungie.net{{ $e.EmblemPath }}">
                    </div>
                    <div class="character-info">
                        {{ $e.RaceName }}
                        {{ $e.GenderName }}
                        {{ $e.ClassName }} 
                    </div>
                    <div class="character-levels column">
                        <div class="character-level">{{ $e.CharacterLevel }}</div>
                        <div class="light-level">&diams; {{ $e.PowerLevel }}</div>
                    </div>
                </div>
            {{ end }}
        </div>
        <div>
            {{ range $i, $e := .statResp }}
                <div>
                    ID: {{ $i }} <br />
                    {{ range $a, $b := $e }}
                        <div>{{ $a }}: {{ $b }}</div>
                    {{ end }}
                </div>
                </br />
            {{ end }}
        </div>
    </body>
</html>
