<html>
    <head>
        <title>Search User</title>
    </head>
    <body>
        <h1>Search User</h1>
        <div>
            <img src="http://www.bungie.net{{ .iconPath }}">
            {{ .displayName }}
        </div>
    </body>
</html>
