<html>
    <head>
        <title>Search User</title>
    </head>
    <body>
        <h1>Search User</h1>
        <div>
            <img src="http://www.bungie.net{{ .iconPath }}">
            {{ .displayName }}
        </div>
        <div>
            {{ range $i, $e := .chars }}
                <div>
                    {{ $i }}
                    Character Level:{{ $e.CharacterLevel }}
                    Light Level:{{ $e.PowerLevel }}
                    <img src="http://www.bungie.net{{ $e.BackgroundPath }}">
                    <img src="http://www.bungie.net{{ $e.EmblemPath }}">
                </div>
            {{ end }}
        </div>
    </body>
</html>
